<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plagiarism Detection</title>
    <style>
    </style>
    <link href="https://fonts.google.com/specimen/Playwrite+GB+S" ,rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">

</head>

<body>
    <div class="half upper">
        <div class="page-one">
            <header>
                <div class="logo-container">
                    <img src="/static/images/logo1.png" alt="Plagiarism Detection Logo" class="logo">

                </div>
                <nav>
                    <ul>
                        <li><a href="/" class="CLICKABLE">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/faqs">FAQs</a></li>
                    </ul>
                </nav>
            </header>
            <div class="container">
                <div class="content-container">
                    <div class="title-container">
                        <h1><i>Nirikṣaṇam: AI Driven <br>Plagiarism Detector </i></h1>
                
                    </div>
                </div>
                <div class="half lower">
                    <div class="button-container">

                        <button type="button" onclick="location.href='/fileUpload'">Detect &#8594</button>
                    </div>
                </div>

            </div>
        </div>
       

        <!-- <script src="script.js"></script>  -->

</body>

</html>